server {
    listen 80;
    server_name moneyo.domain.com; # Cambiar por el dominio real

    location / {
        proxy_pass http://localhost:3000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    # Optimización para PWA y carga de archivos
    client_max_body_size 10M;

    location /uploads/ {
        alias /path/to/moneyo/uploads/; # Cambiar por el path real
        expires 30d;
        add_header Cache-Control "public, no-transform";
    }
}
